@import url('../../../../App.css');

.hero_fac_bg {
    background-image: url("../../../../assets/images/facilities/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}