@import url('../../../../App.css');

.oet-about-main{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 800;
    color: var(--secondaryblueColor);
    text-align: center;
}

.bg-oet-color{
    background: #f0e2c8;
}

.oet-about-title{
    width: max-content;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
}


.oet-about-desp{
    width: 750px;
    word-spacing: 2px;
    font-family: 'RecoletaAlt';
    text-align: center;
    z-index: 1;
}

.oet-specs{
    width: 400px;
    margin-bottom: 30px;
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.oet-card:hover{
    background: var(--secondaryblueColor);
    color: white;
}