@import url('../../../App.css');

.bg-bring-fc-color {
    background: var(--secondaryblueColor);
}

.wave-container {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
}

.wave-image {
    display: block;
    width: 100%;
}

/* Play Button */
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #DAD3CF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.play-icon {
    position: absolute;
    z-index: 3;
}

/* Wave Animation */
.wave {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    animation: waveAnimation 2s infinite ease-out;
    z-index: 1;
}

.wave1 {
    animation-delay: 0s;
}

.wave2 {
    animation-delay: 0.5s;
}

.wave3 {
    animation-delay: 1s;
}

@keyframes waveAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.bring-img{
    position: absolute;
    right: 0;
}

.bring-grass-img{
    margin-top: 11.5rem;
    width: 96%;
}