@import url('../../../../App.css');

.discipline-about-main{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 800;
    color: var(--secondaryblueColor);
    text-align: center;
}

.bg-discipline-color{
    background: #f0e2c8;
}

.discipline-about-title{
    width: max-content;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
}
.discipline-about-title2{
    margin-top: 25px;
    width: max-content;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    z-index: 1;
}

.discipline-about-desp{
    width: 750px;
    word-spacing: 2px;
    font-family: 'RecoletaAlt';
    text-align: center;
    z-index: 1;
}
.discipline-about-desp-head{
    text-decoration: underline;
     width: 750px;
     font-weight: 700;
    word-spacing: 2px;
    font-family: 'RecoletaAlt';
    text-align: center;
    z-index: 1;

}

.discipline-specs-container{
    width: 800px;
    margin-bottom: 15px;
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'RecoletaAlt';
}


.admission-specs-list{
    width: 600px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'RecoletaAlt';
}
.admission-specs-list p{
    width: 800px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'RecoletaAlt';
}

.discipline-card:hover{
    background: var(--secondaryblueColor);
    color: white;
}