.contact-wrapper {
  width: 100%;
}

.contact-container {
  display: flex;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* LEFT SIDE */
.contact-info {
  flex: 1;
  padding-left: 60px;
}

.contact-title {
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-orange {
  font-size: 30px;
  color: #ff8c2f;
}

.office-name {
    font-family: "Montserrat";
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
}

.office-address {
  /* margin: 15px 0; */
  font-size: 18px;
  letter-spacing: .3px;
  word-spacing: 2px;
  color: #777;
  max-width: 420px;
  margin-bottom: 25px   !important;
}

.phone-row, .email-row {
    font-family: "Montserrat";
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  /* margin-bottom: 10px; */
}

.phone-icon, .email-icon {
    margin-bottom: 15px;
  font-size: 20px;
  color: #444;
}

/* RIGHT SIDE MAP */
.contact-map {
    margin-right: 50px;
  flex: 1.2;
  max-width: 700px;
}

.contact-map iframe {
  width: 100%;
  height: 400px;
  border: solid 3px #101365;
  border-radius: 10px;
  /* box-shadow: 0px 4px 15px rgba(15, 15, 9, 0.4); */
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-info {
    padding-left: 10px;
  }

  .contact-map iframe {
    height: 300px;
  }
}
