@import url('../../../App.css');

.hero_main_div {
    margin-top: 8rem;
    background: #aeb0d6;
}

.video_container {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-panel {
    display: none !important;
    /* Hides progress bar & shadow */
}

.hero_img {
    width: 100%;
    position: absolute;
    top: 555px;
}

.hero_img_one {
    width: 100%;
    position: absolute;
    top: 560px;
}

.hero_img_two {
    width: 100%;
    position: absolute;
    top: 555px;
}

.hero_line_img {
    position: absolute;
    top: 760px;
    clip-path: inset(0 100% 0 0);
    animation: drawLine 3s linear infinite;
}

@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
        /* Fully hidden */
    }

    100% {
        clip-path: inset(0 0% 0 0);
        /* Fully visible */
    }
}

.hero_rocket_img {
    position: absolute;
    top: 675px;
    left: 631px;
}

.hero_div {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.hero_title {
    text-decoration: underline;
    font-family: 'RecoletaAlt';
    font-size: 27px;
    color: var(--secondaryColor);
    margin-bottom: 0;
}

.hero_sub_title {
    text-decoration: underline;
    font-family: 'RecoletaAlt';
    font-size: 65px;
    line-height: 86px;
    color: var(--whiteColor);
    margin-bottom: 0;
    margin-top: 5px;
}

.hero_desp {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 27px;
    color: var(--whiteColor);
    margin-bottom: 0;
    margin-top: 5px;
}

.hero_btn {
    text-decoration: none;
    width: max-content;
    border-radius: 50px;
    padding: 8px 10px 8px 25px;
    font-family: 'Montserrat';
    font-size: 16px;
    display: flex;
    gap: 20px;
    background: var(--primaryColor);
    border: none;
    align-items: center;
    color: var(--whiteColor);
    margin-top: 22px;
    transition: transform 0.3s ease-in-out;
}

.hero_btn:hover {
    transform: scale(1.2);
}

.hero_circle {
    border-radius: 50px;
    background: var(--whiteColor);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_circle_icon {
    color: var(--primaryColor);
    font-size: 20px;
}

.hero_main_img {
    position: absolute;
    z-index: 1;
}

.hero_ellipse {
    position: absolute;
    left: 150px;
    animation: moveLeftRight 2.5s ease-in-out infinite alternate;
}

@keyframes moveLeftRight {
    0% {
        left: 150px;
        /* Start position */
    }

    100% {
        left: 180px;
        /* End position */
    }
}

.hero_ellipse_one {
    position: absolute;
    bottom: -65px;
    animation: moveTopBottom 2.5s ease-in-out infinite alternate;
}

@keyframes moveTopBottom {
    0% {
        bottom: -65px;
        /* Start position */
    }

    100% {
        bottom: -90px;
        /* End position */
    }
}

.hero_img_three {
    width: 100%;
    position: relative;
}

.about_img {
    width: 100%;
    position: absolute;
    top: -420px;
}

.modal-head{
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 35px;
    color: #F6A506;
    justify-self: center;
    font-family: "RecoletaAlt";
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.buttonStyle{
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border-radius: 4px;
    border: 2px solid red;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
  };

@media(min-width: 1200px) and (max-width: 1400px) {
    .about_img {
        width: 100%;
        position: absolute;
        top: -325px;
    }

    .hero_div {
        padding-bottom: 4rem;
    }
}

@media(min-width: 992px) and (max-width: 1200px) {
    .about_img {
        width: 100%;
        position: absolute;
        top: -280px;
    }

    .hero_div {
        padding-bottom: 0rem;
    }

    .hero_second_img {
        width: 350px;
        height: 550px;
    }

    .hero_main_img {
        width: 400px;
        top: 2rem;
    }

    @keyframes moveLeftRight {
        0% {
            left: 70px;
            /* Start position */
        }

        100% {
            left: 100px;
            /* End position */
        }
    }

    @keyframes moveTopBottom {
        0% {
            bottom: 35px;
            /* Start position */
        }

        100% {
            bottom: 10px;
            /* End position */
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .hero_main_div {
        background: #2B2E82;
    }

    .hero_line_img {
        top: 720px;
        width: 450px;
    }

    .hero_rocket_img {
        width: 70px;
        top: 650px;
        left: 448px;
    }

    .about_img {
        width: 100%;
        position: absolute;
        top: -205px;
    }

    .hero_div {
        padding-bottom: 5rem;
    }

    .hero_second_img {
        width: 350px;
        height: 550px;
    }

    .hero_main_img {
        width: 400px;
        top: 2rem;
    }

    @keyframes moveLeftRight {
        0% {
            left: 190px;
            /* Start position */
        }

        100% {
            left: 220px;
            /* End position */
        }
    }

    @keyframes moveTopBottom {
        0% {
            bottom: -60px;
            /* Start position */
        }

        100% {
            bottom: -90px;
            /* End position */
        }
    }
}

@media(min-width: 576px) and (max-width: 768px) {
    .hero_main_div {
        background: #2B2E82;
    }

    .hero_line_img {
        top: 720px;
        width: 380px;
    }

    .hero_rocket_img {
        width: 70px;
        top: 628px;
        left: 400px;
    }

    .about_img {
        width: 100%;
        position: absolute;
        top: -155px;
    }

    .hero_div {
        padding-bottom: 8rem;
    }

    .hero_second_img {
        width: 350px;
        height: 550px;
    }

    .hero_main_img {
        width: 400px;
        top: 2rem;
    }

    @keyframes moveLeftRight {
        0% {
            left: 190px;
            /* Start position */
        }

        100% {
            left: 220px;
            /* End position */
        }
    }

    @keyframes moveTopBottom {
        0% {
            bottom: -60px;
            /* Start position */
        }

        100% {
            bottom: -90px;
            /* End position */
        }
    }
}

@media(max-width: 576px) {
    .hero_main_div {
        background: #2B2E82;
    }

    .hero_line_img {
        top: 720px;
        width: 300px;
    }

    .hero_rocket_img {
        width: 70px;
        top: 652px;
        left: 295px;
    }

    .about_img {
        width: 100%;
        position: absolute;
        top: -110px;
    }

    .hero_div {
        padding-bottom: 8rem;
    }

    .hero_second_img {
        width: 350px;
        height: 550px;
    }

    .hero_main_img {
        width: 400px;
        top: 2rem;
    }

    @keyframes moveLeftRight {
        0% {
            left: 55px;
            /* Start position */
        }

        100% {
            left: 80px;
            /* End position */
        }
    }

    @keyframes moveTopBottom {
        0% {
            bottom: -60px;
            /* Start position */
        }

        100% {
            bottom: -90px;
            /* End position */
        }
    }

    .hero_sub_title {
        font-size: 55px;
        line-height: 70px;
    }
}