@import url('../../../App.css');

.admission-form {
  max-width: 1200px;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
  padding: 0 20px;
}

.form-title {
  font-family: "Montserrat";
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.admission-form .form-group label,
.admission-form label {
    font-family: "RecoletaAlt", "Poppins", sans-serif;
}
.form-title span {
  color: #ffba4b;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group select,
textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s ease;
}

/* Input Focus Effect */
.form-group input:focus,
.form-group select:focus,
textarea:focus {
  border-color: #ffba4b;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 186, 75, 0.4);
}

textarea {
  height: 180px;
  resize: vertical;
}

.submit-btn {
  background-color: #ffba4b;
  border: none;
  padding: 12px 35px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 25px auto 0 auto;
  transition: 0.2s;
}

.submit-btn:hover {
  background-color: #f0a53c;
}
