@import url('../../../App.css');

.fac-pro-title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 26px;
    text-align: center;
    color: var(--secondaryblueColor);
}

.fac-pro-desp {
    font-family: 'RecoletaAlt';
    text-align: center;
    max-width: 35rem;
}

.fac-pro-raibow-img{
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
}

.fac-pro-testing-img{
    position: absolute;
    right: 35px;
    top: 100px;
    width: 200px;
}