:root {
    --primaryColor: #FA0000;
    --whiteColor: white;
    --blueColor: #101365;
    --secondaryColor: #FFAA00;
    --secondaryblueColor: #2B2E82;
    --darkColor: #D5E1ED;
    --blackColor: black;
    --darkblueColor: blue;
    --inputColor: #1f1c2e;
}
html, body {
  height: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth {
  overscroll-behavior: none;
}



