@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'RecoletaAlt';
  src: url('/src/assets/fonts/RecoletaAlt-Regular.ttf') format('truetype');
  font-style: normal;
}
