@import url('../App.css');

.footer_bg {
    background-image: url("../assets/images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_main {
    padding-top: 7rem;
}

.footer_logo {
    width: 161px;
    height: 168px;
}

.footer_desp {
    font-family: 'Montserrat';
    font-size: 15px;
    text-align: center;
    line-height: 22px;
    color: var(--whiteColor);
    padding-top: 31px;
    max-width: 43rem;
}

.link_item {
    font-family: 'RecoletaAlt';
    font-size: 22px;
    line-height: 30px;
    color: var(--whiteColor);
    margin-bottom: 25px;
}

.footer_link:hover{
    text-decoration: underline !important; 
    color: var(--secondaryColor) !important;
}

.footer_loc{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 27px;
    color: var(--whiteColor);
    margin-bottom: 0;
}

.footer_icon{
    color: var(--secondaryColor);
    font-size: 40px;
}

.footer_input{
    height: 61px;
    border-radius: 50px;
    background: var(--whiteColor);
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 15px;
    align-items: center;
}

.footer_input_body{
    outline: none;
    border: none;
    width: 100%;;
}

.footer_btn{
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    background: var(--secondaryblueColor);
    color: var(--whiteColor);
    font-size: 25px;
}

.footer_copyright{
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color: var(--whiteColor);   
    margin-top: 44px;
    margin-bottom: 0;
}

.footer_line{
    width: 702px;
    height: 10px;
    background: var(--primaryColor);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 15px;
}

.footer-cloud{
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 100px;
    width: 150px;
}

.footer-cloud-one{
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    top: 100px;
    width: 150px;
}

.footer-sun{
    position: absolute;
    right: 0px;
    top: 150px;
    width: 150px;
}

.footer-girl{
    position: absolute;
    bottom: 10px;
    left: 160px;
    width: 120px;
}

.footer-hand {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.footer-cloud-two{
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 150px;
}

.footer-person{
    position: absolute;
    left: 0;
    top: 150px;
    width: 120px;
}
