@import url('../../../App.css');

.hero_lms_bg {
    background-image: url("../../../assets/images/Lms/heo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lms_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.lms_hero_content {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}

.lms_hero_title {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
}

.lms_heo_desp {
    font-family: 'RecoletaAlt';
    font-size: 1.2rem;
    margin-top: 10px;
}

.lms-hero-breadcrumb-icon {
    color: red;
}

.hero_cloud_img::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 85px;
    left: 0;
    bottom: -2px;
    mask-image: url("../../../assets/images/Lms/cloud.png");
    mask-repeat: repeat-x; 
    mask-size: contain;
    mask-position: center;
    z-index: 1;
    background-color: white;
    animation: cloudMove 100s linear infinite;
}

@keyframes cloudMove {
    0% {
        left: 0;
    }
    100% {
        left: -100%; /* Move completely left */
    }
}
